<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour</title>
</head>
<body>
    <h3>Create new listings </h3>
    <form action="/listings" method="post" ><br>
        <input type="text" name="title" placeholder="enter title"><br><br>
        <textarea name="description"  placeholder="enter description"></textarea><br><br>
        <input type="text" name="image" placeholder="enter image link"><br><br>
        <input type="number" name="price" placeholder="enter price"><br><br>
        <input type="text" name="location" placeholder="enter location"><br><br>
        <input type="text" name="country" placeholder="enter country"><br><br>
        <button> Submit </button>
    </form>
</body>
</html>